/* #region Variables */

:root {

    /* Fonts*/
    --font-family: "Montserrat", sans-serif;

    /* Colors */
    --color-blue: #4D5AE5;
    --color-blue-light: #6c8cff;
    --color-pink: #ff4e4e;
    --color-pink-light: #ff7070;
    --color-grey: #808080;
    --color-area-background: #f6f6fe;
    --text-color-normal: #2e2f42;
    --text-color-light: #fff;
}

/* #endregion */

/* #region Base */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 16px;
    padding: 24px;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--text-color-light);
    color: var(--text-color-normal);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    flex-direction: column;

}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

/* #endregion */

.form-container {
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 20px;
    margin-top: 64px;
    box-sizing: border-box;
}

/*Main Form*/
.form {
    text-align: left;
    width: 100%;
    max-width: 360px;
    padding: 20px;
    border: 1px solid var(--color-grey);
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    box-sizing: border-box;
}

.form fieldset {
    display: flex;
    justify-content: center;
    column-gap: 48px;
    margin: 0;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid var(--color-grey);
}

.form legend {
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.form input[type="radio"] {
    margin-right: 8px;
    margin-top: 8px;
}

.form label {
    cursor: pointer;
}

.form button {
    display: inline-block;
    align-self: flex-start;
    min-width: 100%;
    border-radius: 8px;
    padding: 8px 16px;
    border: none;
    color: var(--text-color-light);
    background: var(--color-blue);
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 16px;
}

.form label {
    display: block;
    margin-bottom: 8px;
}

.form button:hover {
    border: none;
    background: var(--color-blue-light);
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--color-grey);
    /* Светло-серая граница */
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-grey);
}

input:hover {
    border-color: var(--text-color-normal);
}

input#name-input {
    margin-top: 16px;
}